<div *ngIf="booking">
    <div class="row box">
        <div class="col s1 border-right">
            <i class="material-icons" style="font-size: 65px;">event_note</i>
        </div>

        <!-- informations relatives -->
        <div class="col s3 border-right">
            Booking: {{booking.id}} <br>
            removal: {{booking.removal}} <br>
            Theoric restitution: {{booking.theoricRestitution}} <br>
            restitution: {{booking.restitution}}
        </div>

        <!-- descriptions -->
        <div class="col s4 border-right">
            Car: {{booking.car.id}} <br>
            Customer: {{booking.customer.id}} <br>
            reservation Status : {{booking.reservStatus}}
        </div>
    </div>

</div>
