<div class="header-content">
    <div class="searchbar">
        <form>
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">search</label>
            </div>
        </form>
    </div>
    <div class="name">
        <h5>Bonjour, Hadi</h5>
    </div>
    <div class="logo">
        <a routerLink="/profile"><i class="material-icons prefix">account_box</i></a>
    </div>
</div>

  
  
  
