<div class="local-container">
    <div class="header">
        <div class="row" style="margin-bottom:-20px; justify-content: center;">
            <div class="col s12">
                <h5>list of customers</h5>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div *ngIf="customerList">
                <ul  style="padding: 10px;" >
                    <li class="card customer-detail" style="padding-right: 5px;" *ngFor="let customer of paginatedData; let i = index">
                        <div class="row valign-wrapper">
    
                            
                            <div class="col s1 border-right">
                                <i class="material-icons" style="font-size: 65px;">person_outline</i>
                            </div>
    
                            
                            <div class="col s3 border-right">
                                Customer: {{customer.id}} <br>
                                firstname: {{customer.firstname}} <br>
                                lastname: {{customer.lastname}}
                            </div>
    
                            <div class="col s4 border-right">
                                City: {{customer.address.city}} <br>
                                Street: {{customer.address.street}} <br>
                                Number: {{customer.address.number}} <br>
                                Postal Code: {{customer.address.postalCode}}
                            </div>
    
                            
                            <div class="col s4">
                                <div class="row valign-wrapper" style="align-items: baseline; text-align: center;">
                                    <div class="col s4" style="padding-top: 20px;">
                                        <a (click)="udpateOne(customer.id)" class="btn-floating "><i class="material-icons left">edit</i></a>                     
                                    </div>
                                    <div class="col s4">
                                        <a (click)="deleteOne(customer.id)" class="btn-floating red"><i class="material-icons left">delete_forever</i>delete</a>                                
                                    </div>
                                    <div class="col s4">
                                        <a (click)="details(customer.id)" class="btn-floating"><i class="material-icons left">library_books</i>details</a>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> 
                
                </ul>
            </div>    
        </div> 
    </div>
    <app-pagination [pageSize]="pageSize" [totalItems]="totalItems" (pageChange)="onPageChange($event)"></app-pagination>
</div>

