<!-- Navbar top -->
<div class="navbar-top">
    <div class="title">
        <h1>Profile</h1>
    </div>
</div>
<!-- End -->
<!-- Main -->
<div class="main">
    <h2>IDENTITY</h2>
    <div class="card">
        <div class="card-body" *ngIf="user">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>username</td>
                        <td>:</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Roles</td>
                        <td>:</td>
                        <td>{{user.roles}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End -->
