<div>
    <ul class="collapsible" #collapsibleElement style="margin: 25px">
        <li style="text-align: center;">
            <div class="collapsible-header"><i class="material-icons" >dashboard</i>Dashboard</div>
            <div class="collapsible-body" >
                <ul>
                    <li>
                        test
                    </li>
                </ul>
            </div>
        </li>
        <li style="text-align: center;">
            <div class="collapsible-header"><i class="material-icons">directions_car</i>Car</div>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a routerLink="/cars/list">Cars</a>
                    </li>
                    <li><a routerLink="/cars/create">New Car</a></li>
                </ul>
            </div>
        </li>
        <li style="text-align: center;">
            <div class="collapsible-header"><i class="material-icons">date_range</i>Booking</div>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a routerLink="/bookings/list">Bookings</a>
                    </li>
                    <li><a routerLink="/bookings/create">Create Booking</a></li>
                </ul>
            </div>
        </li>
        <li style="text-align: center;">
            <div class="collapsible-header"><i class="material-icons">local_atm</i>Rental</div>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a routerLink="/rentals/list">Rentals</a>
                    </li>
                    <li><a routerLink="/rentals/create">Register rental</a></li>
                </ul>
            </div>
        </li>
        <li style="text-align: center;">
            <div class="collapsible-header"><i class="material-icons">person_outline</i>Customer</div> 
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a routerLink="/customers/list">Customers</a>
                    </li>
                    <li><a routerLink="/customers/create">Register customer</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

