<div class="detail-container">
    <div class="description" >
        <div class="row box">
            <div *ngIf="car" >
                <div style="justify-items: center;">
                    <!-- image de voiture -->
                <div class="col s1 border-right">
                    <i class="material-icons" style="font-size: 65px;">directions_car</i>
                </div>
                <!-- informations relatives -->
                <div class="col s3 border-right">
                    {{this.car.id}}
                    <div *ngFor="let item of this.car.model.options">
                        {{item.option}}
                    </div>
                    {{this.car.model.brand}}
                </div>
                <!-- descriptions -->
                <div class="col s4 border-right">
                    descriptions
                </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="detail">
        <div class="row">
            <div class="col s12">
                <div *ngIf="bookings">
                    <ul>
                        <li class="car-detail card" *ngFor="let booking of bookings">
                            {{booking.id}}
                        </li>
                    </ul>
                    <p>Nombre de reservations pour la voiture avec l'ID {{car?.id}} = {{bookings.length}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
   



